@charset "UTF-8";
/* main.css - 메인페이지 css */

/* 파일 merging */
@import url(reset.css);
@import url(font/font.css);

/*공통***********************/
.wrap{
/*    border: 1px solid blue;*/
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.e7acbd{
    color: #e7acbd;
}

.BE4B78{
    color: #BE4B78;
}

.center{
    text-align: center;
}

.body{
    position: relative;
}
/************ 헤더영역****************/
header{
    background: #fce8ec;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    
}

.header{
    position: relative;
    height: 120px;
    display: flex;
}

.gnb, .lnb{
    display: flex;
    font-family: 'CeraBasic-Bold';
    position: absolute;
}

.gnb{
    width: 35%;
    text-align: center;
}

.gnb li{
    width: 100px;
    position: relative;
}

.gnb a{
    font-family: 'CeraBasic-Bold';
    font-size: 14px;
}

.icon_link{
    position: absolute;
}

.left{
    top: 50%;
    transform: translateY(-50%);
}

.right{
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
}

.right span{
    font-weight: 800;
    font-family: 'Nanum Gothic', 'sans-serif';
    padding-left: 3px;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.lnb{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/******************** 컨텐츠영역***************/
.cont_wrap{
    margin-top: 120px;
}
/* 메인컨텐츠 */
.main{
    width: 100%;
}

.main img{
    display: block;
    width: 100%;
}

/* 프로덕트 */
.products{
    height: 800px;
    background: linear-gradient(180deg, white, white, rgba(231, 172, 189, 0.28));
}

.cont_tit{
    font-family: 'Catamaran', sans-serif;
    padding: 10vmin 0;
    font-size: 3vmin;   
    font-weight: 100;
}

.products_list{
    display: flex;
    justify-content: space-between;
}

.products_list li{
    width: 30%;
}

.products_list img{
    width: 100%;
    margin-bottom: 20px;
}

.products_list a{
    display: block;
}

.prd_txt{
    color: #797979;
    font-size: 14px;
}

.products_list h3{
    margin: 5px 0 10px 0;
    font-size: 16px;
}

.prd_btn{
    display: block;
    margin: 5vmin auto;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color: #e7acbd;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.prd_btn:hover{
    transform: scale(1.2);
}

/* 프로미스 */

.prm_list{
    display: flex;
    width: 5000px;
}

.prm_list li{
    display: flex;
    width: 1000px;
}

.prm_left, .prm_right{
    width: 50%;
}

.prm_left img{
    width: 100%;
    height: 100%;
}

.prm_right{
    padding-left: 20px;
    background-color: #fce8ec;
}

.prm_title, .prm_eng{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.prm_title{
    color: #d0d0d0;
    font-size: 6vmin;
}

.prm_eng{
    padding-top: 8vmin;
    font-size: 6vmin;
    color: #e7acbd;
}

.prm_kr{
    font-size: 18px;
    padding-top: 3vmin;
    line-height: 1.4;
}

.prm_navi{
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 12vmin auto;
}

.prm_navi li a{
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #dedbdb;
}

.prm_navi li.on a{
    background-color: #f3bfc8;
}

.prm_review{
    display: flex;
    justify-content: space-around;
    width: 200%;
}

.prm_review li{
    background-color: #f8e4e8;
    height: 400px;
    width: 15%;
    padding: 1.5%;
}

.prm_review_cont{
    color: #767676;
    font-size: 14px;
    line-height: 1.5;
    margin: 13% 0;
}

.prm_review_about{
    text-align: right;
    font-size: 14px;
    color: #e0a6b8;
}

.prm_navi.bottom{
    width: 30px;
    margin-top: 30px;
}

/* 켐페인 */
.campaign{
    background-color: #fce8ec;
    height: 900px;
}

.campaign_main{
    display: flex;
}

.cpn_right{
    padding-left: 20px;
}

.cpn_eng{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    color: #e7acbd;
    font-size: 4vmin;
    padding-top: 15vmin;
    line-height: 1;
}

.cpn_kr{
    padding-top: 14vmin;
    line-height: 1.4;
    font-size: 18px;
}

/* 링크 영역 */
.link_list{
    height: 140px;
    display: flex;
    margin: 3% 0;
}

.link_list li{
    width: 33.33%;
    border-right: 1px solid #ebb2c0;
    padding: 3% 0;
}

.link_list li:nth-child(2){
    padding: 3% 8%;
}

.link_list li:last-child{
    border: 0;
    padding-left: 8%;
}

.link_tit{
    font-size: 3vmin;
    font-family: 'Catamaran', sans-serif;
}

.link_list a{
    display: block;
    
}

/* 수상 */
.awards{
    background-color: #fce8ec;
}

.awards img{
    display: block;
    margin: 0 auto;
}

/* 인스타 */
.insta_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
}

.insta_list li{
    width: 30%
}

/********************** 푸터 *******************/
footer{
    background-color: #fce8ec;
    padding: 3% 0;
    font-size: 13px;
    line-height: 1.5;
}
.ft_1 b, .ft_2 , .ft_3{
    color: #c5768c;
}

.ft_1, .ft_4, .ft_4 a, .ft_5{
    color: #cca6b0;
}

/************************** 픽스 ****************************/
.fixed{
    position: fixed;
    z-index: 1;
    right: 30px;
    bottom: 30px;
}
.fixed li{
    border-radius: 50%;
}

.fixed a{
    display: block;
    width: 50px;
    height: 50px;
}

.fixed li:first-child{
    margin-bottom: 10%;
}

.top_btn{
    background: url("../images/icon_top.png") no-repeat center/cover;
}

.chat_btn{
    background-color: #fce8ec;
    position: relative;
    box-shadow: 3px 3px 10px #ccc;
}

.chat_btn:hover{
    box-shadow: 3px 3px 10px #aaa;
}

.chat_btn span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 50%;
    height: 50%;
    background-image: url("../images/icon_chat.png");
    background-size: 91px;
    background-position: 2px -22px;
    background-repeat: no-repeat;
}

